# Configuration file

##########################################################################################################
# 01-logging
#--------------------------------------------------------------------------------------------------------#
# Logging properties.
##########################################################################################################

01-logging {
    # The filename of the  log file. [default: fastladder]
    S:loggerFilename=fastladder

    # The directory where the logs should be stored. This is relative to the Minecraft install path. [default: mods/fastladder/logs/]
    S:loggerFolder=mods/fastladder/logs/

    # The logging level. Set to 'off' to disable logging. [trace|debug|info|warn|error|off] [default: info]
    S:loggerLevel=info

    # The size a log file can be before rolling over to a new file. [default: 1000K]
    S:loggerSize=1000K
}


##########################################################################################################
# 03-fastladder
#--------------------------------------------------------------------------------------------------------#
# General Fast Ladder! mod properties.
##########################################################################################################

03-fastladder {
}


##########################################################################################################
# 03-mod
#--------------------------------------------------------------------------------------------------------#
# General mod properties.
##########################################################################################################

03-mod {
    # Enables/Disables version checking. [default: true]
    B:enableVersionChecker=true
    S:latestVersion=1.1.0
    B:latestVersionReminder=true

    # Enables/Disables mod. [default: true]
    B:modEnabled=true
}


##########################################################################################################
# 99-ids
#--------------------------------------------------------------------------------------------------------#
# ID properties.
##########################################################################################################

99-ids {
    #  [default: fast_ladder]
    S:fastLadderBlockId=fast_ladder

    #  [default: faster_ladder]
    S:fasterLadderBlockID=faster_ladder

    #  [default: fastest_ladder]
    S:fastestLadderBlockID=fastest_ladder

    #  [default: teleport_pad]
    S:teleportPadBlockID=teleport_pad

    #  [default: teleport_pad_te]
    S:teleportPadTileEntityID=teleport_pad_te
}


